div#container {
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 60%;
  color: #627874;
  border: 3px solid #cad4d9;
  padding: 10px; }
  div#container .myProgress {
    width: 60%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
    background-color: #dedede;
    position: relative; }
    div#container .myProgress .myBar {
      width: 1%;
      height: 30px;
      background-color: #badbe6; }
    div#container .myProgress span {
      position: absolute;
      display: block;
      width: 100%;
      text-align: center;
      color: black; }
    div#container .myProgress .err {
      background: red; }
  div#container #footer {
    height: 30px;
    margin: auto;
    text-align: center;
    margin-top: 20px; }
    div#container #footer select {
      border: 1px solid #3b3b3b;
      background: #f5f5f5;
      color: #495c66; }
    div#container #footer button {
      border: 1px solid #3b3b3b;
      background: #f5f5f5;
      color: #495c66;
      margin-left: 5px; }
    div#container #footer select:focus {
      outline: 0; }
    div#container #footer button:focus {
      outline: 0; }
